<div id="<%= dom_id account %>">
  <p>
    <strong>Username:</strong>
    <%= account.username %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= account.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= account.lastname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= account.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= account.phone %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= account.password %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= account.location %>
  </p>

</div>
